body{
    width: 1366px;
    background-image: url("../img/background-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 1023px;
    margin: 0 auto;
}
/*Header*/
.main-header {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}
.header-logo {
    /*display: flex;*/
    background-image: url("../img/header-logo.svg");
    background-size: 53px 55px;
    background-repeat: no-repeat;

}
/*.header-text {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*    padding-left: 8px;*/
/*}*/
/*.up-text {*/
/*    font-weight: bold;*/
/*    font-size: 29px;*/
/*    line-height: 29px;*/
/*    color: #FFFFFF;*/
/*    text-decoration: none;*/
/*}*/
/*.down-text {*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*    line-height: 18px;*/
/*    color: #FFFFFF;*/
/*    text-decoration: none;*/
/*}*/

.main-logo {

    text-decoration: none;
}
.header-text {
    padding-left: 60px;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}
.header-text span{
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}
.header-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-link {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

/*Section*/
.card-section {
    margin-top: 17px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-text {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 20px;
    text-align: center;
}
.card a {
    text-decoration: none;
}
.card {
    margin-bottom: 37px;
    position: relative;

}
.card img {
    width: 300px;
    height: 220px;

}

/*footer*/
.footer {
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    padding-top: 12px;
    margin-bottom: 15px;
    text-align: center;
}

/*HOVER*/
.header-logo:hover {
    color: #F26522;
    background-image: url("../img/header-logo-hover2.svg");
    background-repeat: no-repeat;
    background-size: 53px 55px;
}
.header-text:hover {
    color: #F26522;
}
.header-contact a:hover {
    color: #F26522;
}

.card:hover .tour-item-modal {
    opacity: 1;
    transform:translate(0, -58px);
    transition: 2s ease;
}

/*MODAL*/
.tour-item-modal {
    background-color: #F26522;

    width: 300px;
    opacity: 0;
    z-index: 1;
    box-sizing: border-box;
    position: absolute;
}

.modal-text {
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    padding-left: 16px;
    padding-top: 6px;

}
.modal-price {
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 12px;
    position: relative;
    display: flex;
    align-items: center;
}
.modal-price span {
    padding-left: 128px;
    font-size: 14px;
    line-height: 14px;
}
.modal-price span::after {
    content: "";
    background-image: url("../img/arrow-right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 5px;
    height: 10px;
    position: absolute;
    bottom: 16px;
    right: 14px;
}