body{
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
/*HEADER*/
.main-header {
    margin-top: 63px;
    margin-bottom: 48px;
}
.main-logo {
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    text-decoration: none;
    }
.main-logo-text {
    color: #4BCAFF;
}
.nav-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #35444F;
    margin-top: 38px;
    }
.nav-menu-item {
    padding: 26px 32px 19px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    }
.nav-menu-item a {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
}
/*MAIN*/
.main-section {
    display: flex;
    justify-content: space-between;
}

.main-menu {
    border: 1px solid  #000000;
    display: flex;
    flex-direction: column;
    margin-right: 52px;
    height: 100%;
}
.main-menu-item a {
    color: #485863;
    font-size: 27px;
    line-height: 27px;
    text-decoration: none;
    width: 100%;
}
.main-menu-item {
    padding-top: 26px;
    padding-left: 44px;
    padding-bottom: 30px;
    padding-right: 82px;
    }
.main-content {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
}
.main-img {
    border: 1px solid #000000;
    padding: 75px 268px 73px 297px;
    margin-bottom: 37px;
}
.main-text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 34px;
}
/*Footer*/
.footer {
    margin-bottom: 30px;
}

.footer-section {
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    height: 70px;
    align-items: center;
    justify-content: space-between;

}
.footer-menu {
    display: flex;
}
.footer-menu-item {
    margin-left: 40px;
    /*align-items: center;*/
}
.footer-menu-item a {
    text-decoration: none;
    color: #0C1927;
    font-size: 28px;
    line-height: 28px;
}
.footer-text {
    color: #010101;
    font-size: 24px;
    line-height: 24px;
    margin-right: 40px;
}
/*HOVER*/
.nav-menu-item:hover {
    background: #222F3A;
}
.footer-menu-item a:hover {
    text-decoration-line: underline;
    color: #3181A6;
}
.main-menu-item:hover {
    background-color: #DBDBDB;
    text-align: center;
;
}