body{
    width: 100vw;
    background-image: url("../img/backround-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
}
/*HEADER*/
.header-main {
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    padding-left: 79px;
    padding-right: 79px;
    margin-bottom: 54px;
}
.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-list-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
}

.header-logo-text {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 18px;
}
.menu-list-item {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding-left: 27px;
}
.header-log {
    text-decoration: none;
    color: #FFFFFF;
}
.calendar {
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 21px;
}
.envelope {
    background-image: url("../img/envelope.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 21px;
}
.compass {
    background-image: url("../img/compas.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 21px;
}
/*SIGNUP form*/
.signup-form {
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    width: 444px;
    height: 584px;
    padding: 31px 60px 38px;
    box-sizing: border-box;
    position: relative;
}
.green-box {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 18px;
    height: 18px;
    background: #3CB878;
}
.signup-height{
    display: flex;
    justify-content: space-between;
    padding-bottom: 13px;
}
.login {
    /*padding-left: 216px;*/
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    text-decoration: none;
}

.buttons {
    /*border: 1px solid red;*/
}
.btn {
    width: 160px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    position: relative;
}
.height-line {
    position: absolute;
    top: 10px;
    left: 48px;
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}
.btn-fb{
    background: #305DB8;
    background-image: url("../img/fb-logo.svg");
    background-repeat: no-repeat;
    background-position: bottom 50% left 17px;
    padding-left: 67px;
}
/*.fb-logo {*/
/*    width: 30px;*/
/*    height: 24px;*/
/*    display: inline-block;*/
/*}*/
.btn-go {
    background: #DF4A32;
    background-image: url("../img/go-logo.svg");
    background-position: bottom 50% left 12px;
    background-repeat: no-repeat;
    padding-left: 80px;
}
/*.go-logo {*/
/*    */
/*    width: 30px;*/
/*    height: 19px;*/
/*    display: inline-block;*/
/*}*/
.name-or {
    margin-top: 30px;
    margin-bottom: 10px;
}
.text-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-or {
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #848484;
}
.line {
    border: 1px solid #F2F2F2;
    width: 152px;
    height: 0px;
}
.text-input-field {
    width: 324px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
    padding-left: 20px;
    box-sizing: border-box;
}
.custom-checkbox-block {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin-right: 14px;
}
.custom-checkbox {
    opacity: 0;
    position: absolute;
}
.custom-checkbox:checked + .custom-checkbox-block {
    background: rgba(0, 0, 0, 0.0001);
    background-image: url("../img/like.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.checkbox {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    display: flex;
    align-items: center;

}
.checkbox a {
    color: #3CB878;
    text-decoration: none;
    padding-left: 4px;
}
.btn-create {
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 38px;
}

/*HOVER*/
.header-logo-text:hover {
    color: #3CB878;
}
.calendar:hover {
    background-image: url("../img/calendar-hover.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 21px;
}
.envelope:hover {
    background-image: url("../img/envelope-hover.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 21px;
}
.compass:hover {
    background-image: url("../img/compass-hover.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 21px;
}
.header-log:hover {
    color: #3CB878;
}
.login:hover {
    text-decoration: underline;
    color: #01813F;
}
.btn-fb:hover {
    background: #022263;
    background-image: url("../img/fb-logo.svg");
    background-repeat: no-repeat;
    background-position: bottom 50% left 17px;
    padding-left: 67px;
}
.btn-go:hover {
    background: #AB1F09;
    background-image: url("../img/go-logo.svg");
    background-position: bottom 50% left 12px;
    background-repeat: no-repeat;
    padding-left: 80px;
}
.checkbox a:hover {
    text-decoration: underline;
    color: #01813F;
}
.btn-create:hover {
    background: #01813F;
}
.text-input-field:focus {
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    color: #434343;
    font-size: 14px;
    line-height: 14px;
}