body{
    width: 1900px;
    font-family: 'Open Sans', sans-serif;
}
/*Header*/
.main-header {

    background-image: url("../img/header-bg.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    }
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
}
.company-name {
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 27px;
    text-decoration: none;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.logo-img {
    padding-right: 27px;
}
.main-menu-list {
    display: flex;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 600;

}
.list-link{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 35px;
}
.header-search {
    background-color: #000000;
    padding: 27px;
}
.news {

    text-align: center;
    height: 100%;
    padding-bottom: 74px;
}
.news-header {
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 164px;
    padding-bottom: 44px;
}
.btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    width: 170px;
    border-radius: 4px;

    display: inline-block;
}
.btn-blue {
    padding: 16px 30px;
    background-color: #14B9D5;
}
.btn-green {
    padding: 16px 20px;
    background-color: #89CA62;
    margin-right: 20px;
}

/*MOST POPULAR*/
.container {
    text-align: center;
    margin: 0 auto;
}
.post-gallery {
    background-color: #F2F2F2;

}
.gal {
    padding-bottom: 72px;
}
.title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    padding-top: 49px;
    padding-bottom: 52px;
    text-transform: uppercase;
    text-align: center;
}


.post-list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 370px;
    padding-right: 360px;
    align-items: flex-start;
    justify-content: space-between;

}

.post-list-item {
    text-decoration: none;
    }
.post-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    background: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 22px;
}
.clients {
    background-image: url("../img/parallax-bg.jpeg");
    height: 588px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}
.clients-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    padding-top: 106px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 87px;
}
.decoration-line {
    width: 60px;
    height: 3px;
    background: #18B4CF;
    margin-left: auto;
    margin-right: auto;
}
.clients-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*grid-gap: 58px;*/
    align-items: center;
    justify-items: center;
    padding-top: 106px;
    padding-left: 510px;
    padding-right: 510px;
}
/*.clients-list a {*/
/*    !*margin-right: 58px;*!*/
/*}*/
.top-rated {
    background: #E5E5E5;
}
.clients-rated {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-left: 2px;
    padding-right: 2px;
    /*justify-content: center;*/
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/*FOOTER*/
.footer {
    background: #000000;

}
.footer-list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    padding-left: 367px;
    padding-right: 367px;
    /*gap: 559px;*/
    }
.footer-list-item {
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
        padding-top: 29px;
        padding-bottom: 27px;
}

.footer-list-item img {
    margin-left: 559px;
}

/*HOT NEWS*/
.hot-news-row1 {
padding-bottom: 45px;
}
.hot-news-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    padding-left: 372px;
}
.hot-container {
    width: 374px;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.hot-container-header{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding-top: 41px;
    padding-bottom: 15px;
    padding-right: 24px;
    padding-left: 31px;
}
.hot-container-text {
    color: #5B6469;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: right;
    padding-right: 24px;
    padding-bottom: 40px;
}
.hot-news-header-s {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding: 14px 27px 11px;
    background: rgba(0, 0, 0, 0.0001);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.item3 {
    display: flex;
    flex-direction: column;
    width: 374px;
    height: 259px;
    padding-left: 35px;
}
.hot-news-row2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding-left: 372px;
    padding-bottom: 46px;
}
.hot-news-2-1{
    width: 554px;
    height: 418px;
}
.hot-news-2-2{
    width: 554px;
    height: 418px;

}
.item8 {
    display: flex;
    flex-direction: column;
    width: 374px;
    height: 259px;
    padding-left: 35px;
}
