.header {
    background: rgba(94, 93, 88, 0.6);
}
.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.main-header {
    background-image: url("../img/Sections background/section-1(header).jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
.header-logo{
    display: flex;
    align-content: center;
    background-image: url("../img/icons/polygon.svg");
    /*background-size: 67px 58px;*/
    background-repeat: no-repeat;
    background-size: contain;
    /*margin-left: 7px;
    padding-top: 5px;*/
}
.main-logo {
    font-size: 40px;
    line-height: 31px;
    color: var(--main-bg-color);
    text-decoration: none;
   /* border: 1px solid red;*/
    text-align: left;

}
.logo {
    font-size: 31px;
    line-height: 31px;
    font-weight: bold;
    padding-left: 9px;

}
.main-logo-text {
    font-size: 32px;
    line-height: 48px;
    color: var(--main-bg-color);
    padding-left: 6px;
}
.header-logo-text {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: var(--main-accent-color);
}

/*NAV-MENU*/
.nav-menu {
    display: flex;
    justify-content: center;
    margin-left: 305px;
}
.nav-menu-item a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 21px;
}
.nav-menu-item:hover a{
    border-bottom: 2px solid #18CFAB;
    color: #18CFAB;
    padding-bottom: 48px;
}
.search-item {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
}

.secondary-header {
    text-align: center;
    padding-top: 264px;
    padding-bottom: 248px;
}
.secondary-header h1 {
    font-weight: bold;
    font-size: 78px;
    color: var(--main-bg-color);
}
.secondary-header h2 {
    font-weight: bold;
    font-size: 35px;
    color: var(--main-bg-color);

    text-transform: uppercase;
}
.header-text-colored {
    color: var(--main-accent-color);
}
.header-text {
    font-size: 34px;
    color: #D4D4D4;
}
.main-head-text {
    margin-top: 22px;
    margin-bottom: 22px;
}
/*HEADER-BTN*/
.header-btn-container {
    display: flex;
    justify-content: center;
}

.header-btn {
    display: inline-block;
    width: 169px;
    height: 63px;
    margin-top: 129px;
    padding-top: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    top: 5px;
}
.header-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}
.header-btn-layer {
    width: 169px;
    height: 63px;
    margin-top: 129px;
    border-radius: 5px;
    background-color: #FFFFFF;
    position: absolute;
}
.green-btn {
    background-color: #18CFAB;
    margin-right: 26px;
}

.blue-bnt {
    background-color: #00CBF6;
}
/*
.main-logo {
    font-size: 42px;
    font-weight: bold;
    line-height: 40px;
    color: var(--main-accent-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}
.main-logo-text {
    font-size: 12px;
    line-height: 1.2;
    color: #525252;
    margin-left: 8px;
}
.main-header {
    color: var(--main-bg-color);
    box-shadow: 0px 4px 21px rgba(71, 107, 240, 0.17);
    padding-top: 24px;
    padding-bottom: 24px;
}
.main-header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-menu {
    display: flex;
    justify-content: center;
}
.nav-menu-item {
    margin-left: 62px;
}
.nav-menu-item a{
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 17px;
}*/
