.news {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 128px;
    padding-top: 68px;
}
.news-item p {
    font-weight: bold;
    font-size: 13px;
    color: #777777;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}
.news-item span {
    padding-left: 10px;
    padding-right: 10px;
}
.news-item h4 {
    padding-left: 15px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #717171;
}

.calendar {
    background: #203E38;
    width: 70px;
    height: 68px;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;
    color: #FFFFFF;
    padding-top: 15px;
    position: absolute;
    top: 0;
    right: 0;
}
.calendar li {
    font-size: 16px;
    line-height: 25px;
}

.news-item {
    position: relative;
    margin-bottom: 45px;
    margin-right: 27px;
}

.news-item:hover h4{
    color: #18CFAB;
}

.news-item:hover .calendar{
    background-color: #18CFAB;
}