ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
/*    height: 50vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.tabs {
    display: flex;
    width: 100%;
}

.tabs-title {
    width: 15%;
    padding: 20px;
    cursor: pointer;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    color: #717171;
}

.tabs-title.active {
    background: var(--main-accent-color);
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;

}

.tabs-content li {
    display: none;
}
.tabs-content li.active {
    display: block;
}

.tab-text {
    display: flex;
    padding-top: 23px;
}
.tab-text img {
    width: 192px;
    height: 139px;
    padding-right: 15px;
}