@import "header.css";
@import "service.css";
@import "work.css";
@import "news.css";
@import "loader.css";
:root {
    --main-accent-color: #18CFAB;
    --main-bg-color: #FFFFFF;
    --main-head-color: #4E4E4E;
    --text-color: #717171;
    --secondary-text-color:#777777;

}
body{
    font-family: 'Montserrat', sans-serif;
    /*color: var(--main-text-color);*/
}
.container {
    width: 1160px;
    margin: 0 auto;
}

/*Option*/
.option {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.optional {
    width: 25%;
    text-align: center;
    padding-bottom: 110px;
}
.dark {
    background-color: #1C2A33;
    padding-top: 95px;
}
.light {
    background-color: var(--main-accent-color);
    padding-top: 105px;
}
.dark-text {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #18CFAB;
    padding-top: 47px;
}
.light-text {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 58px;
}

/*Services*/
.header-sections {
    text-align: center;
    padding-top: 83px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-all{
    font-size: 36px;
    line-height: 40px;
    color: var(--main-head-color);

}
.horizontal-line {
        /*position: absolute;
        top: 100px;
        left: 0;*/
    margin-left: 13px;
    width: 80px;
    height: 4px;
    background: var(--main-accent-color);
}
.header-all:after {
    content: "";
    width: 80px;
    height: 4px;
    background: var(--main-accent-color);
    display: block;
    margin: 24px auto 4px;
}



/*INSTALL SECTION*/
.install {
    background-image: url("../img/Sections background/section-install.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 91px;
    padding-bottom: 127px;
    text-align: center;
}
.install h1 {
    padding-top: 127px;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: var(--main-accent-color);
}

.install p {
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    padding-top: 12px;
}
.install-btn {
    display: inline-block;
    width: 169px;
    height: 63px;
    margin-top: 67px;
    padding-top: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
    top: 5px;
}
.install-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}
.install-btn-layer {
    width: 169px;
    height: 63px;
    margin-top: 67px;
    border-radius: 5px;
    background-color: #FFFFFF;
    position: absolute;
}
.green-btn {
    background-color: #18CFAB;
    margin-right: 26px;
}

/*SLIDER*/
.slider {
    background-image: url("../img/Sections background/section-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 127px;
    text-align: center;
}
.slider .header-sections .header-all{
    color: #FFFFFF;
}

/*FOOTER*/
footer {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 48px;
    background: #22353F;
}

footer p{
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
}
footer span {
    color: #18CFAB;
}