.our-work {
    background: #E9EDEF;
    padding-bottom: 100px;
}
.work-content {
    padding-top: 70px;
}
.work-tabs {
    display: flex;
/*    align-items: center;*/
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 70px;
}

.work-tabs-title {
    padding: 15px 30px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
}
.work-tabs-title.active {
    color: #18CFAB;
    border: 2px solid #18CFAB;
}
.work-tabs-content {
    /*    height: 50vh;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*.work-tabs-title.active {
    background: var(--main-accent-color);
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;

}*/
.work-tabs-content li.remove {
    display: none;
}
.work-tabs-content li.active {
    display: block;
}
.hidden {
    display: none;
}
.load-btn {
    display: inline-block;
    padding-top: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    box-sizing: border-box;
    width: 169px;
    height: 63px;
    background-color: #18CFAB;
}
.work-btn-load {
    margin-top: 70px;
    text-align: center;
}
.load-btn.hidden {
    display: none;
}
/*NOTCANGED*/


